@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/satoshi-regular.woff2') format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/satoshi-italic.woff2') format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/satoshi-medium.woff2') format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/satoshi-bold.woff2') format('woff');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/firacode-regular.woff2') format('woff2');
}
