/* Utility classes */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-shadow {
  box-shadow: 0 10px 30px -15px var(--shadow-color);
  transition: var(--transition);
}
.box-shadow:hover {
  box-shadow: 0 20px 30px -15px var(--shadow-color);
}
