/* Fadeup */
.fadeup-enter {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}
.fadeup-enter-active {
  opacity: 1;
  transform: translateY(0);
}

/* Fadedown */
.fadedown-enter {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}
.fadedown-enter-active {
  opacity: 1;
  transform: translateY(0);
}

/* Fade */
.fade-enter {
  opacity: 0;
  transition: opacity 300ms var(--easing);
}
.fade-enter-active {
  opacity: 1;
}
