---

---

<section id="contact" data-sr>
  <h2 class="contact-overline">04. What's Next?</h2>
  <h2 class="medium-heading">Get In Touch</h2>
  <p class="contact-description">
    Although I'm not currently looking for any new opportunities, my inbox is always open.
    Whether you have a question or just want to say hi, I'll try my best to get back to you!
  </p>
  <a class="btn btn-big" href="mailto:hello@example.com">Say Hello</a>
</section>

<style>
  section {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }

  .contact-overline {
    display: block;
    margin-bottom: 20px;
    color: var(--flutter-blue);
    font-family: var(--font-mono);
    font-size: var(--fz-md);
    font-weight: 400;
  }

  .contact-overline::before {
    display: none;
  }

  .contact-overline::after {
    display: none;
  }

  .contact-description {
    color: var(--slate);
    margin-top: 20px;
  }

  .btn {
    margin-top: 50px;
  }
</style>
