---
import Side from './Side.astro';
import { useTranslations } from '@i18n/utils';
import type { Locale } from '@i18n/constants';

interface Props {
  locale?: Locale;
}

const { locale = 'en' } = Astro.props;
const t = useTranslations(locale);
---

<Side orientation="right">
  <div class="email-wrapper">
    <a href={`mailto:${t.social.email}`}>{t.social.email}</a>
  </div>
</Side>

<style>
  .email-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .email-wrapper::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background-color: var(--light-slate);
    margin-top: 20px;
  }

  .email-wrapper a {
    writing-mode: vertical-rl;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    letter-spacing: 0.1em;
    line-height: var(--fz-lg);
    color: var(--light-slate);
    transition: var(--transition);
    padding: 10px;
  }

  .email-wrapper a:hover,
  .email-wrapper a:focus-visible {
    color: var(--flutter-blue);
    transform: translateY(-3px);
  }
</style>
