---
import Side from './Side.astro';
import IconGitHub from './icons/IconGitHub.astro';
import IconLinkedin from './icons/IconLinkedin.astro';
import IconTwitter from './icons/IconTwitter.astro';
import IconInstagram from './icons/IconInstagram.astro';
import IconCodepen from './icons/IconCodepen.astro';

const socials = [
  { name: 'GitHub', url: 'https://github.com', icon: 'github' },
  { name: 'LinkedIn', url: 'https://linkedin.com', icon: 'linkedin' },
  { name: 'Twitter', url: 'https://twitter.com', icon: 'twitter' },
  { name: 'Instagram', url: 'https://instagram.com', icon: 'instagram' },
  { name: 'CodePen', url: 'https://codepen.io', icon: 'codepen' },
];
---

<Side orientation="left">
  <ul class="social-list">
    {socials.map(social => (
      <li>
        <a href={social.url} aria-label={social.name} target="_blank" rel="noreferrer">
          {social.icon === 'github' && <IconGitHub />}
          {social.icon === 'linkedin' && <IconLinkedin />}
          {social.icon === 'twitter' && <IconTwitter />}
          {social.icon === 'instagram' && <IconInstagram />}
          {social.icon === 'codepen' && <IconCodepen />}
        </a>
      </li>
    ))}
  </ul>
</Side>

<style>
  .social-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .social-list::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background-color: var(--light-slate);
    margin-top: 20px;
  }

  .social-list li a {
    padding: 10px;
    display: inline-block;
    color: var(--light-slate);
    transition: var(--transition);
  }

  .social-list li a:hover,
  .social-list li a:focus-visible {
    color: var(--flutter-blue);
    transform: translateY(-3px);
  }

  .social-list li a svg {
    width: 20px;
    height: 20px;
  }
</style>
