---
import Side from './Side.astro';
import IconGitHub from './icons/IconGitHub.astro';
import IconLinkedin from './icons/IconLinkedin.astro';
import IconTwitter from './icons/IconTwitter.astro';
import IconInstagram from './icons/IconInstagram.astro';
import IconCodepen from './icons/IconCodepen.astro';
import { useTranslations } from '@i18n/utils';
import type { Locale } from '@i18n/constants';

interface Props {
  locale?: Locale;
}

const { locale = 'en' } = Astro.props;
const t = useTranslations(locale);
---

<Side orientation="left">
  <ul class="social-list">
    {t.social.profiles.map(social => (
      <li>
        <a href={social.url} aria-label={social.name} target="_blank" rel="noreferrer">
          {social.icon === 'github' && <IconGitHub />}
          {social.icon === 'linkedin' && <IconLinkedin />}
          {social.icon === 'twitter' && <IconTwitter />}
          {social.icon === 'instagram' && <IconInstagram />}
          {social.icon === 'codepen' && <IconCodepen />}
        </a>
      </li>
    ))}
  </ul>
</Side>

<style>
  .social-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .social-list::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background-color: var(--light-slate);
    margin-top: 20px;
  }

  .social-list li a {
    padding: 10px;
    display: inline-block;
    color: var(--light-slate);
    transition: var(--transition);
  }

  .social-list li a:hover,
  .social-list li a:focus-visible {
    color: var(--flutter-blue);
    transform: translateY(-3px);
  }

  .social-list li a :global(svg) {
    width: 20px;
    height: 20px;
  }
</style>
